<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FlightMatrixServiceSoap" />
                <binding name="OTA_AirSellServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lionairthai.vtmel-web03.dyndns.org/LionAirThaiTAAPI/FlightMatrixService.asmx"
                binding="basicHttpBinding" bindingConfiguration="FlightMatrixServiceSoap"
                contract="FlightMatrixService.FlightMatrixServiceSoap" name="FlightMatrixServiceSoap" />
            <endpoint address="http://b2buat.lionairthai.com/LionAirThaiTAAPI/OTA_AirSellService.asmx"
                binding="basicHttpBinding" bindingConfiguration="OTA_AirSellServiceSoap"
                contract="AirSellService.OTA_AirSellServiceSoap" name="OTA_AirSellServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
